@import url('https://fonts.googleapis.com/css?family=Roboto');

h1, p, a { font-family: 'Nanum Gothic' }
.bg-dark {
    background-color: #a835dc40!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #495057;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    background-size: cover;
    
    
}
a { text-decoration:none
 }
.login {
    font-size: medium;
}
.main-section{
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
    
}
.modal-content {
    background-color: #fff;
    opacity: .95;
    padding: 0 18px;
    box-shadow: 0 0 0px 2px #e4989f;
    
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
    border-radius: 5px;
   
    
}
.form-group {
    margin-bottom: 25px;
}
label{
    display: block; width: x; height:y; text-align: left;
    margin: auto;
    
    
}
.btn {
  
    background-color: #e4989f;
    color: #f8f9fa;
    border-radius: 5px;
}

.signbtn{
    padding:0px 0 5px;
}
.signbtn a{
    color : #e4989f;
}
.btn-primary {
    color: #fff;
    
    border-color: #f8f9fa;
}
.wrap {
	
	top: 50%;
	left: 50%;
	margin-top: -86px;
	margin-left: -89px;
	text-align: center;
}


/*λ²„νΌ*/
.button {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.button2{
    background:#e4989f;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 12px;
    font-size: 26px;
  }
  .button2:hover{
    background:#fff;
    color:#e4989f;
  }
  .button2:before,.button2:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #e4989f;
    transition:400ms ease all;
  }
  .button2:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button2:hover:before,.button2:hover:after{
    width:100%;
    transition:800ms ease all;
  }    

/*about*/
section {
    width:100vw;
    position:relative;
  }
  section:nth-child(odd) {
    background-color:#f3f3f4;
  }
  .section-title {
    margin:30px auto 50px auto;
  }
  .section-title h3{
    font-size:1.8em;
    text-align: center;
  }
  .wrapper {
    padding-top:60px;
    padding-bottom:40px;
    background:transparent;
    background-color:#495057;
  }

  .about-list{
    padding:20px 50px;
  }
  .about-list h4{
    font-size:1.3em;
    margin-bottom:20px;
  }
  .about{
    padding:30px;
    box-sizing:border-box;
    margin-bottom:20px;
    background-color:#fff;
    border:1px solid #aaa;  
  }
  @media screen and (min-width:764px) {
    .about-list {
      display:flex;
      justify-content: space-between;
    }
    .about {
      flex-basis:30%;
    }
  }
  
/*ν‘Έν„°*/
.footer {
    padding-top:30px;
    padding-bottom:50px;
    background-color:#495057;
  }
  .footer-info {
    padding-left:20px;
    padding-right:20px;
  }
  .contact {
    color:#fff;
  }
  .sns {
    margin-top:50px;
  }
  .sns a {
    margin-right:30px;
  }
  .sns a:last-child {
    margin-right:0;
  } 
  @media screen and (min-width:764px) {
    .footer-info {
      max-width:1300px;
      display:flex;
    }
    .contact {
      flex:2;
    }
    .sns {
      flex:1;
    }
  }